{% if user_status == 'success' %}
    <p>Welcome</p>
{% endif %}
<div>
    <p>Username: </p>
    <p>{{ user.username }}</p>
</div>
<div>
    <p>Email: </p>
    <p>{{ user.email }}</p>
</div>
<div>
    <a href="/logout/">Logout</a>
</div>