<form action="/register/" method="POST">
    {% csrf_token %}
    {% if user_status == 'inactive' %}
        <p>This account is inactive</p>
    {% endif %}
    {% if user_status == 'unauth' %}
        <p>Please register</p>
    {% endif %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>